@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

.mainLogin {
    width: auto;
    height: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: "DM Sans", sans-serif;
}

.mainLogin h2 {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 15px;
    color: rgb(0, 0, 0);
}

input[type=text] {
    width: 350px;
    border-radius: 5px;
    border: 2px solid rgb(0, 0, 0);
    height: 45px;
    display: block;
    margin: 0 auto;
    font-family: "DM Sans", sans-serif;
    padding-left: 10px;
}


input[type=text]:focus {
    outline: none;
    box-shadow: 0px 0px 5px 2px rgba(8, 8, 8, 0.7);
    border: 2px solid rgba(0, 0, 0, 0.7);
}

input[type=password]:focus {
    outline: none;
    box-shadow: 0px 0px 5px 2px rgba(78, 49, 225, 0.7);
    border: 2px solid rgba(78, 49, 225, 0.7);
}


input[type=password] {
    width: 350px;
    border-radius: 5px;
    border: 2px solid rgb(97, 150, 255);
    height: 45px;
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    font-family: "DM Sans", sans-serif;
    padding-left: 10px;
}

input[type=checkbox]{
    margin-top: 10px;
    text-align: center;
}

input[type=submit] {
    display: block;
    margin: 0 auto;
    cursor: pointer;
    width: 200px;
    height: 40px;
    border-radius: 2px;
    font-weight: bold;
    border: none;
    margin-top: 25px;
}

.mainLogin p{
    margin-top: 15px;
    text-align: center;
}

.mainLogin p a{
    text-decoration: none;
    color: rgb(0, 0, 0) ;
}

footer{
    position: fixed;
    bottom: 0;
    background-color: #fc3b00;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
}

footer ul{
    margin-left: 200px;
}

footer ul li{
    list-style: none;
    font-family: "DM Sans", sans-serif;
    color: white;
}

footer ul li a{
    text-align: center;
}